.background{
  margin: auto;
  width: 100%;

}
.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: -248px;
  padding: 0 20px;
}
.content h1 {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -0.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #202020;
}
.content .camera {
  margin-left: 10px;
  margin-top: 50px;
  border-radius: 50%;
  border: 2px dashed #004bfe ;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin-top: 32px;
  position: relative;
}
.inputSection input {
  padding: 16px 20px;
  height: 20px;
  background-color: #f8f8f8;
  border-radius: 60px;
  border: none;
  outline-color: #004bfe;
  font-family: Poppins;

}
.inputSection input::placeholder {
  color: #d2d2d2;
  font-family: Poppins;
font-size: 13.79px;
font-weight: 500;
line-height: 19.31px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.numInput {
  width: 90%;
  height: 52px;
  background-color: #f8f8f8;
  border-radius: 60px;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  position: relative;
}
.numInput input {
  outline: none;
  padding: 0;
  border-radius: 0;
  font-family: Poppins;

}
.numInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cancel {
  margin: auto;
  font-family: Nunito Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 24px;
  cursor: pointer;
  margin-bottom: 40px;
  color: #202020;
}
.Eye {
  position: absolute;
  cursor: pointer;
  right: 18px;
  top: 78px;
}
.flag {
  display: flex;
  align-items: center;
  gap: 8px;
}
.flag img {
  width: 30px;
  height: 24px;
}
.flag button {
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
  margin-top: 4px;
}
.line {
  background-color: black;
  height: 24px;
  border: 1px solid black;
  border-radius: 60px;
}
.country {
  position: absolute;
  width: 210px;
  height: 160px;
  background-color: #f8f8f8;
  top: 176px;
  left: 8px;
  border-radius: 16px;
  box-shadow: 4px 4px 5px lightblue;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
}
.country p {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.phoneKeys {
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  background-color: #f8f8f8;
}
.phoneKeys:hover {
  background-color: #c8c8c8;
}
.phoneKeys img {
  width: 30px;
  height: 24px;
}
