.Header {
  height: 80px;
  background-color: white;
  box-shadow: 0px 2px 2px 0px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 94px;
}
.Header p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.2800000011920929px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #004cff;
}
.Header .active {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.2800000011920929px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #202020;
  border-bottom: 3px solid black;
  padding-top: 3px;
}
